

<div class="cards">
  <a class="card" href="#">
    <div class="card-body">
      <h2 class="card-front">
        First Card
      </h2>

      <p class="card-back">
        Back face content.
      </p>
    </div>
  </a>

  <a class="card" href="#">
    <div class="card-body">
      <h2 class="card-front">
        Second Card
      </h2>

      <p class="card-back">
        Back face content.
      </p>
    </div>
  </a>
</div>


